<p>card works!</p>

TYPE COLOR: <input type="text" [(ngModel)]="color" class="form-control" />
<p [ngStyle]="{ backgroundColor: getColor() }">this is sample para</p>
<button class="btn btn-danger" (click)="handleClick()">CLICK</button>
<button class="btn btn-danger" (click)="setDanger()">DANGER</button>
<p [ngClass]="{ cssClass: getClassCondition(), danger: getDangerCondition() }">
  this is sample para
</p>

<div *ngFor="let item of cards">
  <span [ngStyle]="{ color: getColor(item) }"> {{ item }}</span>
</div>
<button class="btn btn-warning" (click)="appendTime()" >PRINT TIME</button>

<div *ngFor="let item of timeList" >
  {{item}}
</div>
